* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    position: relative;
}



nav {
    height: 10vh;
    width: 100%;
    position: relative;
}

header {
    width: 100%;
    position: absolute;
}

.headText {
    margin-left: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-20px, -50%);
    transition: opacity 250ms ease;
    font-weight: 600;
}
.main-page {
    height: 100vh;
    width: 100%;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./donateimg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contact {
    color : fushsia;
    font-style: oblique
    margin-top: -70px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: -670px;
    font-size: 2.5em
    
}
.form {
    margin-top: 20px;
    height: 80vh;
    width: 105%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}
.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    width: 50%;
    margin-left: auto;
}

.navlinks li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease;
}

.navlinks li:hover {
    background-color: rgba(17, 217, 252, 0.5);
    transition: all 250ms ease;
}

.links {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.first-heading {
    margin-left: 50px;
    margin-top: 100px;
    font-size: 3em;
}

.first-subtext {
    margin-top: 10px;
    font-weight: 200;
}

.text {
    color: lightpink;
}

#donate {
    font-size: 16px;
    padding: 16px;
    margin: 12px;
    margin-top: 15px;
    background-color: rgba(98, 202, 206, 0.7);
    border-radius: 1px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
}

#donate:hover {
    box-shadow: 0 2rem 5rem 0 rgba(93, 157, 173, 0.952);
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgba(0, 0, 0);
    color: white;
  }


@media only screen and (max-width: 600px) {
   
  
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }  
    .form{
        margin: auto;
        width: 90%;
    }
    .first{
        margin: auto;
    }
    .first-heading {
        margin: auto; 
        font-size: 2em;
        transition: all 100ms 0.4s;
    }
    .first-subtext {
        margin: auto;
        transition: all 500ms 0.6s;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 10;
    }
    .navlinks {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .navlinks.open {
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
    }
    
    .navlinks li {
        opacity: 0;
    }
    .navlinks li a {
        font-size: 25px;
    }
    .navlinks li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(3) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(4) {
        transition: all 0.5s ease 0.2s;
    }
    li.fade {
        opacity: 1;
    }
    
}


@media only screen and (max-width: 400px) {
    .headText {
        font-size: 1em;
    }
    .first-heading {
        font-size: 1.5em;
    }
    .first-subtext {
        margin-top: 1rem;
        font-size: 0.5em;
    }
}
